.date_container {
    margin: 25px 0 25px;
}

.txt {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 115.688%; 
    letter-spacing: 0.72px;
    text-align: end;
    margin-bottom: 10px;
}

.date_num {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.688%; 
    letter-spacing: 0.72px;
    text-align: end;
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 115.688%; 
    letter-spacing: 1.08px;
    background-color: rgba(0, 0, 0, 0.417);
    border-radius: 100%;
    margin-top: 90px;
    position: absolute;
    z-index: 998;
    opacity: 0;
    transition: 0.5s;
}
.avatar:hover .edit{
    opacity: 1;
    display: flex;
    z-index: 1000;
}

.modal {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.688%; 
    letter-spacing: 0.72px;
    border-radius: 4px;
    position: absolute;
    top: 15px; 
    left: 15px;
    background: transparent;
    border: 0;
}