.date_container {
    margin: 25px 0 25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.txt {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 115.688%; 
    letter-spacing: 0.72px;
    text-align: end;
    margin-bottom: 10px;
}


.img {
    margin-top: 90px;
    position: relative;
    z-index: 999;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.date_num {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 115.688%; 
    letter-spacing: 0.72px;
    text-align: end;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 115.688%; 
    letter-spacing: 1.08px;
    background-color: rgba(0, 0, 0, 0.417);
    border-radius: 100%;
    margin-top: 90px;
    position: absolute;
    z-index: 998;
    opacity: 0;
    transition: 0.5s;
}
.avatar:hover .edit{
    opacity: 1;
    display: flex;
    z-index: 1000;
}

.modal {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.688%; 
    letter-spacing: 0.72px;
    border-radius: 4px;
    position: absolute;
    top: 15px; 
    left: 15px;
    background: transparent;
    border: 0;
}

@media (max-width: 280px) {
    .date_container {
        flex-direction: column;
    }

    .date_num, .txt {
        text-align: start;
        font-size: 16px;
    }
  }

@media (max-width : 768px) {
    .img {
        margin-top: 90px;
        width: 150px;
        height: 150px;
    }
}

@media (min-width : 768px) {
    .date_num, .txt  {
        font-size: 22px;
    }
}

@media (min-width: 1000px) and (max-height: 600px) {
    .img {
        margin-top: 15px;
        width: 100px;
        height: 100px;
        margin-right: 225px;
    }

    .edit {
        width: 100px;
        height: 100px;
        margin-top: 15px;
        right: 559px;
    }
  }

  @media (min-width: 1280px) and (max-height: 800px) {
    .img {
        margin-top: 15px;
        width: 100px;
        height: 100px;
        margin-right: 225px;
    }

    .edit {
        width: 100px;
        height: 100px;
        margin-top: 15px;
        right: 687px;
    }
  }