@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;800&family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Rubik:wght@400;500&display=swap');

.check_container {
    padding: 15px;
    position: relative;
    height: 50vh;
   
}

.inputs_container {
    display: flex;
    flex-direction: column;
    gap: 21px;
    overflow-y: scroll;
    padding: 5px;
    height: 47vh;
}

.inputs_container::-webkit-scrollbar{
    width: 0;
}

.todo_container {
    width: 100%;
}

.todo_area {
    width: 100%;
    height: 56vh;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.tasks_cont {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.label_cont {
    display: flex;
    gap: 5px;
}

.tasks_txt {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.688%; 
    letter-spacing: 0.84px;
}

.btn_task {
    border: 0;
    background-color: #FFF;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(/public/images/plus-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.inputs_text {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.688%; 
    letter-spacing: 0.72px;
}

.dark {
    background-color: rgb(49 49 49);
}

.dark_txt {
    color: #FFF;
}

.dark_btn {
    background-image: url(/public/images/plus-vector-icon.jpg);
    border-radius: 50px;
}

@media (min-width: 768px) {
    .todo_area {
        width: 100%;
        height: 53vh;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    }

    .inputs_container{
        padding: 15px 20px;
    }

    .inputs_container {
        height: 50vh;
    }
  }
  @media (min-width: 820px) {
    .todo_area {
        height: 60vh;
    }
    .inputs_container {
        height: 55vh;
    }
    .check_container {
        height: auto;
    }
  }
    
  @media (min-width: 768px) and (max-height:1100px) {
    .todo_area {
        height: 55vh;
    }
    .inputs_container {
        height: 45vh;
    }  
  }

  @media (min-width: 900px) and (max-height: 1400px) {
    .check_container {
        height: auto;
    
    }
    .todo_area {
        height: 70vh;
    }
    .inputs_container {
        height: 65vh;
    } 
    /* .check_container {
        height: 70vh;
    } */
}


@media (min-width: 900px){
    .todo_area {
        height: 57vh;
    }
    .inputs_container {
        height: 50vh;
    } 
  }


@media (min-width: 1024px) and (max-height: 600px) {
    .todo_area {
        height: 35vh;
    }

    .inputs_container {
        height: 25vh;
    }

    .tasks_cont {
        margin-bottom: 10px;
    }
}

@media (min-width: 1100px) {
    .todo_area {
        height: 57vh;
    }
  }


@media (min-width: 1100px) and (max-height: 800px) {
    .todo_area {
        height: 45vh;
    }

    .inputs_container {
        height: 37vh;
    }
}





